<div id="bannertaskstop" class="row" style="height:100px;">
    <div class="col-md-12 text-center">
        <h1 style="margin-top:50px;">Add Task</h1>
    </div>
</div>
<br />
<br />
<div class="form-group" style="margin-top:75px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form novalidate ng-submit="vm.addTask()">
                <label>Task Type</label>
                <select class="form-control" ng-model="vm.taskToAdd.type">
                    <option value="" selected disabled>Please select</option>
                    <option>Phonecall</option>
                    <option>Email</option>
                    <option>Meeting</option>
                    <option>Project</option>
                </select>
                <br />
                <label>Select Date:</label>
                <div id="datepicker" class="input-group date" data-date-format="mm/dd/yyyy" style="width:300px">
                    <input class="form-control" type="text" ng-model="vm.taskToAdd.startDate" placeholder="Enter Start Date" />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                <!--<label>Start Date</label>
                <input type="text" class="form-control full" ng-model="vm.taskToAdd.startDate" placeholder="YYYY-MM-DD" />-->
                <br />
                <label>Description</label>
                <textarea class="form-control full" rows="5" id="description" ng-model="vm.taskToAdd.description"></textarea>
                <br />
                <label>Primary Contact</label>
                <select ng-model="vm.taskToAdd.contactId" class="form-control">
                    <option ng-repeat="contact in vm.myContacts.contacts" value="{{contact.id}}">{{contact.name}}</option>
                </select>
                <br />
                <label>Include in Deal</label>
                <select ng-model="vm.taskToAdd.dealId" class="form-control">
                    <option ng-repeat="deal in vm.myDeals" value="{{deal.id}}">{{deal.dealName}}</option>
                </select>
                <br />
                <label>Due Date:</label>
                <div id="datepicker2" class="input-group date" data-date-format="mm/dd/yyyy" style="width:300px">
                    <input class="form-control" type="text" ng-model="vm.taskToAdd.dueDate" placeholder="Enter Due Date" />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                <!--<input type="text" class="form-control full" ng-model="vm.taskToAdd.dueDate" placeholder="YYYY-MM-DD" />-->
                <br />
                <label>Status</label>
                <select class="form-control" ng-model="vm.taskToAdd.status">
                    <option value="" selected disabled>Please select</option>
                    <option>Not Started</option>
                    <option>In Progress</option>
                    <option>Completed</option>
                </select>
                <br />
                <br />
                <button class="form-control full btn btn-default">Add Task</button>
                <a href="/tasks" class="form-control full btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#datepicker").datepicker({
            autoclose: true,
            todayHighlight: true,
            orientation: 'bottom'
        }).datepicker('update', new Date()),
     $("#datepicker2").datepicker({
         autoclose: true,
         todayHighlight: true,
         orientation: 'bottom'
     }).datepicker('update', new Date());
    });
</script>