
<div id="wrapper" class="details_wrap toggled">
    <div id="sidebar-wrapper" ng-class="{displayedFilterHide: vm.filterIsDisplayed}">
       
        <label>Filter by Country</label>
        <select class="form-control country-filter" ng-change="vm.filterByCountry()" ng-model="vm.selCountry">
            <option ng-repeat="company in vm.companies" value="{{company.companyCountry}}">{{company.companyCountry}}</option>
        </select>
        <label>Filter by City</label>
        <select class="form-control city-filter" ng-change="vm.filterByCity()" ng-model="vm.selCity">
            <option ng-repeat="company in vm.companies" value="{{company.companyCity}}">{{company.companyCity}}</option>
        </select>
        <label>Filter by State</label>
        <select class="form-control state-filter" ng-change="vm.filterByState()" ng-model="vm.selState">
            <option ng-repeat="company in vm.companies" value="{{company.companyState}}">{{company.companyState}}</option>
        </select>
        <label>Filter by Industry</label>
        <select class="form-control industry-filter" ng-change="vm.filterByIntustry()" ng-model="vm.selIndustry">
            <option ng-repeat="company in vm.companies" value="{{company.companyIndustry}}">{{company.companyIndustry}}</option>
        </select>
      
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row fix_row">
                <div class="col-md-12">
                    <div class="row toggle-responsive-filter">
                        <a ng-show="vm.filterIsDisplayed" href="#" class="btn btn-danger" ng-click="vm.hideFilterResponsive()">Show Filter</a>
                        <a ng-show="!vm.filterIsDisplayed" href="#" class="btn btn-danger" ng-click="vm.showFilterResponsive()">Hide Filter</a>
                    </div>
                    <div class="row fix_row">
                        <div class="col-md-4 companies-search-wrap">
                            <a href="#" ng-show="vm.showTrash" ng-click="vm.deleteDealModal()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            <a href="#" ng-show="vm.showTrash" ng-click="vm.archiveDealModal()"><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span></a>
                            <btn id="menu-toggle" class="btn btn-primary filter_button">Filter</btn>
                            <!--<a href="#"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a>-->
                        </div>
                        <div class="col-md-6 form-group no-margin search-bar">
                            <input class="form-control" ng-model="search"    placeholder="Search all Companies in this view..."/>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" ng-click="vm.createcompanyModal()">+ Add Company</button>
                        </div>
                    </div>
                    <div class="example-animate-container">
                        <table class="table table-hover table-bordered ">
                           
                                <tr>

                                    <th class="hover_blue">Company Name</th>
                                    <th class="hover_blue">Company Create Date</th>
                                    <th class="hover_blue">Company Last Activity Date</th>
                                    <th class="hover_blue">Company Next Activity Date </th>
                                    <th class="hover_blue">Edit</th>

                                </tr>
                            <tbody class="animate-repeat" ng-animate="'animate'" ng-repeat="company in vm.companies | filter: search">
                                <tr>
                                    <!--<td><input type="checkbox" ng-model="value.key" ng-click="vm.storeDeal(value)" /> <a ng-show="value.isArchived" href="#" ng-click="vm.unarchiveItem(value)"><span class="glyphicon glyphicon-plus"></span></a></td>-->
                                    <td><a ui-sref="company-info({id: company.id})">{{company.companyName}}</a></td>
                                    <td>{{company.companyCreateDate | date: 'MM/dd/yy'}}</td>
                                    <td>{{company.companyLastActivityeDate | date: 'MM/dd/yy'}}</td>
                                    <td>{{company.companyNextActivityDate  | date: 'MM/dd/yy'}}</td>
                                    <td><a href="#" ng-click="vm.editModal(company.id)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                                </tr>
                            </tbody>
</table>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>




<!--<div class="row">
    <div class="col-md-12 ">
        <div class="col-md-10 col-md-offset-2">
            <div class="row details_wrap">
                <div class="col-md-8 col-md-offset-2 form-group">
                    <input type="text" class="form-control full" placeholder="Search companies" ng-model="vm.search" />
                </div>
                <div class="col-md-2">
                    <a href="/createcompany"><button>New Company</button></a>
                </div>
            </div>
            <div class="table_wrap">
                <table class="table table-bordered table-hover deals_table">
                    <thead>
                        <tr>
                            <th class="hover_blue">Company Name</th>
                            <th class="hover_blue">Company Create Date</th>
                            <th class="hover_blue">Company Last Activitye Date</th>
                            <th class="hover_blue">Company Next Activity Date</th>
                            <th class="hover_blue">Details</th>
                            <th class="hover_blue">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="company in vm.companies | filter: vm.search">
                            <td>{{company.companyName}}</td>
                            <td>{{company.companyCreateDate}}</td>
                            <td>{{company.companyLastActivityeDate}}</td>
                            <td>{{company.companyNextActivityDate}}</td>
                            <td><button ng-click="vm.showDetailsModal(company.id)">Details</button></td>
                            <td><button ng-click="vm.editModal(company.id)">Edit</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>-->
