<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form ng-submit="vm.addContact()">
            <h1 class="page-header">Add a Contact</h1>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 form-group">
                    <label class="form-control">Email<input type="text" class="form-control" /></label>
                    <label class="form-control">First Name<input type="text" class="form-control" /></label>
                    <label class="form-control">Last Name<input type="text" class="form-control" /></label>
                    <button type="submit" class="btn btn-primary form-control">Add Contact</button>
                </div>
            </div>
        </form>
    </div>
</div>
