<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <div class="row details_wrap">
            <div class="col-md-8 col-md-offset-2 form-group">
                <input type="text" class="form-control full" ng-model="search" placeholder="Search contacts" />
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" ng-click="vm.openNewContactModal()">+ Add Contact</button>
            </div>
        </div>
        <div class="table_wrap">
            <table class="table table-bordered table-hover deals_table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Company</th>
                        <th>Job Title</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in vm.contacts">
                        <td>{{contact.name}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.phoneNumber}}</td>
                        <td>{{contact.company}}</td>
                        <td>{{contact.jobTitle}}</td>
                        <td><a href="/contactDetails/{{contact.id}}" class="btn btn-primary">Manage</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
