<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/dark-hive/jquery-ui.css">
<div class="deals-info-wrap">
    <div class="row details_head fix_row">
        <div class="col-md-8 head_deal_name">
            <h1>{{vm.dealInfo.dealName}}</h1>
        </div>
        <div class="col-md-2 head_currency">
            <h3>Amount</h3>
            <h4>{{vm.dealInfo.amount | currency}}</h4>
        </div>
        <div class="col-md-2 head_close_date">
            <h3>Close Date</h3>
            <h4>{{vm.dealInfo.closeDate | date: 'MM/dd/yy'}}</h4>
        </div>
    </div>
    <div class="row fix_row">
        <div class="col-md-12">
            <ul class="list-bar">
                <li ng-click="vm.editStage('Appointment Scheduled')">
                    <div class="status"><span ng-show="vm.appointmentScheduled">Appointment Scheduled</span></div>
                    <div ng-show="vm.appointmentScheduledGlow" class="probability-bar"></div>
                    <div ng-show="!vm.appointmentScheduledGlow" class="probability-bar-empty"></div>
                </li>
                <li ng-click="vm.editStage('Qualified to Buy')">
                    <div class="status"><span ng-show="vm.qualifiedToBuy">Qualified to Buy</span></div>
                    <div ng-show="vm.qualifiedToBuyGlow" class="probability-bar"></div>
                    <div ng-show="!vm.qualifiedToBuyGlow" class="probability-bar-empty"></div>
                </li>
                <li ng-click="vm.editStage('Presentation Scheduled')">
                    <div class="status"><span ng-show="vm.presentationScheduled">Presentation Scheduled</span></div>
                    <div ng-show="vm.presentationScheduledGlow" class="probability-bar"></div>
                    <div ng-show="!vm.presentationScheduledGlow" class="probability-bar-empty"></div>
                </li>
                <li ng-click="vm.editStage('Decision Maker Bought In')">
                    <div class="status"><span ng-show="vm.decisionMaker">Decision Maker Bought In</span></div>
                    <div ng-show="vm.decisionMakerGlow" class="probability-bar"></div>
                    <div ng-show="!vm.decisionMakerGlow" class="probability-bar-empty"></div>
                </li>
                <li ng-click="vm.editStage('Contract Sent')">
                    <div class="status"><span ng-show="vm.contractSent">Contract Sent</span></div>
                    <div ng-show="vm.contractSentGlow" class="probability-bar"></div>
                    <div ng-show="!vm.contractSentGlow" class="probability-bar-empty"></div>
                </li>
                <li ng-click="vm.editStage('Closed Won')">
                    <div class="status"><span ng-show="vm.closedWon">Closed Won</span></div>
                    <div ng-show="vm.closedWonGlow" class="probability-bar"></div>
                    <div ng-show="!vm.closedWonGlow" class="probability-bar-empty"></div>
                </li>
                <li ng-click="vm.editStage('Closed Lost')">
                    <div class="status status-last"><span ng-show="vm.closedLost">Closed Lost</span></div>
                    <div ng-show="vm.closedLostGlow" class="probability-bar-lost"></div>
                    <div ng-show="!vm.closedLostGlow" class="probability-bar-empty"></div>
                </li>
            </ul>

        </div>
    </div>
    <div class="row fix_row">
        <div class="col-md-6 left_wrap">
            <div class="row">
                <div class="col-md-12 about_deal_table_wrap">
                    <table class="table">
                        <tr>
                            <th colspan="2" class="text-center">About</th>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td ng-show="!vm.isEditReady">{{vm.dealInfo.amount | currency}}</td>
                            <td ng-show="vm.isEditReady"><input class="form-control full" type="number" ng-model="vm.dealInfo.amount" /></td>
                        </tr>
                        <tr>
                            <td>Deal Stage</td>
                            <td ng-show="!vm.isEditReady">{{vm.dealInfo.stage}}</td>
                            <td ng-show="vm.isEditReady">
                                <select class="form-control full" ng-model="vm.dealInfo.stage">
                                    <option>Appointment Scheduled</option>
                                    <option>Qualified to Buy</option>
                                    <option>Presentation Scheduled</option>
                                    <option>Decision Maker Bought In</option>
                                    <option>Contract Sent</option>
                                    <option>Closed Won</option>
                                    <option>Closed Lost</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Close Date</td>
                            <td ng-show="!vm.isEditReady">{{vm.dealInfo.closeDate | date: 'MM/dd/yy'}}</td>
                            <td ng-show="vm.isEditReady"><input class="form-control full" type="date" ng-model="vm.dealInfo.closeDate" /></td>
                        </tr>
                        <tr>
                            <td>CRM Owner</td>
                            <td ng-show="!vm.isEditReady"><a href="contactDetails/{{vm.dealInfo.contact.id}}">{{vm.dealInfo.contact.name}}</a></td>
                            <td ng-show="vm.isEditReady">
                                <select ng-model="vm.dealInfo.contactId" ng-options="contact.id as contact.name for contact in vm.myContactsAll.contacts" class="form-control full"></select>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" ng-show="!vm.isEditReady" colspan="2"><a href="#" ng-click="vm.editState()"class="btn btn-default ready_btn">Edit Deal</a></td>
                            <td class="text-center" ng-show="vm.isEditReady" colspan="2"><a href="#" ng-click="vm.saveDeal()" class="btn btn-default ready_btn">Save Deal</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ng-show="!vm.company"  class="company_to_add">
                <label>Company</label>
                <select ng-change="vm.saveDeal()" ng-model="vm.dealInfo.companyId" ng-options="company.id as company.companyName for company in vm.myCompanies" class="form-control full"></select>
            </div>
            <div ng-show="vm.company" class="row">
                <div class="col-md-12 about_company_table_wrap">
                    <table class="table">
                        <tr>
                            <th colspan="2" class="text-center">Company</th>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>{{vm.company.companyName}}</td>
                        </tr>
                        <tr>
                            <td>Domain</td>
                            <td><a href="{{vm.company.companyDomainName}}">{{vm.company.companyDomainName}}</a></td>
                        </tr>
                        <tr>
                            <td>Industry</td>
                            <td>{{vm.company.companyIndustry}}</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>{{vm.company.companyPhoneNumber}}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>{{vm.company.companyCity}}</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>{{vm.company.companyState}}</td>
                        </tr>
                        <tr>
                            <td>Zip Code</td>
                            <td>{{vm.company.companyZip}}</td>
                        </tr>
                        <tr>
                            <td>Twitter</td>
                            <td><a href="{{vm.company.companyTwitter}}">{{vm.company.companyTwitter}}</a></td>
                        </tr>
                        <tr>
                            <td>Facebook</td>
                            <td><a href="{{vm.company.companyFacebook}}">{{vm.company.companyFacebook}}</a></td>
                        </tr>
                        <tr>
                            <td>LinkedIn</td>
                            <td><a href="{{vm.company.companyLinkedin}}">{{vm.company.companyLinkedin}}</a></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{vm.company.companyDescription}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ng-show="vm.company" class="company_to_add">
                <label>Change Company</label>
                <select ng-change="vm.saveDeal()" ng-model="vm.dealInfo.companyId" ng-options="company.id as company.companyName for company in vm.myCompanies" class="form-control full">
                </select>
            </div>
            <div class="row contacts_list_row">
                <div class="col-md-12 contact_table_wrap">
                    <div class="table_scroll_wrap">
                        <table class="table">
                            <tr><th colspan="4" class="text-center">Contacts</th></tr>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                            </tr>
                            <tr ng-repeat="dealContact in vm.dealContacts">
                                <td><a ui-sref="contactDetails({id: dealContact.contact.id})">{{dealContact.contact.name}}</a></td>
                                <td>{{dealContact.contact.email}}</td>
                                <td>{{dealContact.contact.phoneNumber}}</td>
                                <td class="delete_x"><a href="#" ng-click="vm.deleteDealContact(dealContact.id)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="contact_to_add form-group">
                        <label class="text-center">Select Contact To Add</label>
                        <select ng-model="vm.contactToAdd" ng-options="remaining.name for remaining in vm.myContactsAll.contacts" ng-change="vm.addDealContact()"  class="form-control full">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 right_wrap">
            <div class="row">
                <div class="col-md-12 contact_table_wrap">
                    <div class="table_scroll_wrap">
                        <table class="table">
                            <tr><th colspan="4" class="text-center">Deal Sharers</th></tr>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                            </tr>
                            <tr ng-repeat="sharer in vm.dealSharers">
                                <td><a ui-sref="contactDetails({id: sharer.contact.id})">{{sharer.contact.name}}</a></td>
                                <td>{{sharer.contact.email}}</td>
                                <td>{{sharer.contact.phoneNumber}}</td>
                                <td class="delete_x"><a href="#" ng-click="vm.deleteShareContact(sharer.id)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="contact_to_add form-group">
                        <label class="text-center">Select Contact To Add As a Deal Sharer</label>
                        <select ng-model="vm.sharerToAdd" ng-change="vm.addShareholderContact()" ng-options="remaining.name for remaining in vm.allRemainingSharers.contacts" class="form-control full">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 button_main_wrap">
                    <div class="activity_button_wrap btn-group" role="group" aria-label="...">
                        <a ui-sref="deal-info.note" class="btn btn-default">New Note</a>
                        <a ui-sref="deal-info.activity" class="btn btn-default">Log Activity</a>
                        <a ui-sref="deal-info.task" class="btn btn-default">Create Task</a>
                        <!--<a ui-sref="deal-info.event" class="btn btn-default">Schedule Event</a>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text_wrap">
                    <div ui-view></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 log_item_wrap_wrap">
                    <div class="log_item_wrap">
                        <table class="table table-condensed table-bordered log_items" ng-repeat="item in vm.dealLogItems">
                            <tr ng-if="item.type=='Note'">
                                <td class="submitted_cell">{{item.submittedBy}} left a note</td>
                                <td class="start_time_cell">{{item.startTime | date: 'short'}}</td>
                            </tr>
                            <tr ng-if="item.type=='Activity'">
                                <td class="submitted_cell">{{item.submittedBy}} logged an activity</td>
                                <td class="start_time_cell">{{item.startTime | date: 'short'}}</td>
                            </tr>
                            <tr ng-if="item.type=='Task'">
                                <td class="submitted_cell">{{item.submittedBy}} created a task for {{item.contact.name}}</td>
                                <td class="start_time_cell">{{item.startTime | date: 'short'}}</td>
                            </tr>
                            <tr>
                                <td class="content_cell" colspan="2">{{item.content}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../Scripts/jquery-ui-1.11.4.min.js"></script>
