
 
<div class="jumbotron">
    <div class="heading-wrap">
        <h1>CoderCamps CRM</h1>
        <h2>Your main organizational tool for the ultimate in guerilla marketing</h2>
        <h3>the ultimate customer relationship marketing software</h3>
        <h3>....the world is yours...</h3>
    </div>

    <div class="home_button_wrap">
        <button class="join">Join Now</button>
        <button class="join">Sign In</button>
    </div>
    <div class="key_facts_wrap">
        <div class="row">
            <div class="col-md-4 description_wrap">
                <h2>
                    Track your contacts
                </h2>
                <p class="home_description">
                    Track each of your business contacts with a simplistic tool that keeps all contacts at your fingerips. Management of your contacts has ever been this easy and makes follow up a snap.
                </p>
                <br />
                <p class="home_details">
                    <a class="btn" href="#"> details »</a>
                </p>
            </div>
            <div class="col-md-4 description_wrap">
                <h2>
                    Track your Sales
                </h2>
                <p class="home_description">
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <p class="home_details">
                    <a class="btn" href="#"> details »</a>
                </p>
            </div>
            <div class="col-md-4 description_wrap">
                <h2>
                    Track your products
                </h2>
                <p class="home_description">
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <p class="home_details">
                    <a class="btn" href="#"> details »</a>
                </p>
            </div>
        </div>
    </div>
</div>