
<div class="login_wrap">
    <form name="login">
        <div class="modal-header">
            <div class="text-center">
                <h1>Login</h1>

            </div>
        </div>

        <div ng-submit="controller.login()" class="form-horizontal" role="form">
            <div class="modal-body">
                <div class="text-center">
                    <ul>
                        <li ng-repeat="error in controller.validationMessages">
                            {{error}}
                        </li>
                    </ul>
                </div>
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <label>Username:</label>
                                <input ng-model="controller.loginUser.userName"
                                       class="form-control" username="username" required /><span ng-show="contactAdd.name.$touched && contactAdd.name.$error.required" class="error">Please enter a username</span>
                            </div>
                            <div>
                                <label>Password:</label>
                                <input ng-model="controller.loginUser.password" class="form-control" type="password" username="username" /><!--<span ng-show="contactAdd.name.$touched && contactAdd.name.$error.required" class="error">Please enter a password</span>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="socialMedia">
                                <li class="btn {{externalLogin.name}}" ng-repeat="externalLogin in controller.externalLogins">
                                    <a class="btn" target="_self" href="{{externalLogin.url}}">
                                        Login With {{externalLogin.name}}
                                        <i ng-if="externalLogin.name=='Twitter'" class="ion-social-twitter-outline bird"></i>
                                        <i ng-if="externalLogin.name=='Facebook'" class="ion-social-facebook-outline book"></i>
                                        <i ng-if="externalLogin.name=='Google'" class="ion-social-googleplus-outline plus"></i>

                                    </a>

                                </li>
                            </ul>

                        </div>


                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>

        <div class="modal-footer">
            <div class="form-group row">
               
                    <div class="col-md-4">
                        <!--<label class="control-label"></label>-->

                        <button type="submit" class="form-control full btn btn-primary" ng-click="controller.login()">Login</button>
                        <!--<span></span>-->
                    </div>
                    <div class="col-md-4">
                     
                        <button class="form-control full btn btn-success" ng-click="controller.showRegisterModal()">Register</button>
                        <!--<span></span>-->
                    </div>
                    <div class="col-md-4">
                      
                        <button class="form-control full btn btn-danger" ng-click="controller.closeModal()">Cancel</button>
                    </div>
             
            </div>
        </div>
    </form>
</div>