<!--<div class="container" style="padding-top: 60px;">-->
<!--<form ng-submit="controller.register()">-->
<link href="../../Content/bootstrap.min.css" rel="stylesheet" />
<div>
   
    <div class="modal-header">
        <h1>MyProfile</h1>
    </div>


    </div>
    <form ng-submit="vm.register()" class="form-horizontal" role="form">
        <div class="modal-body">
            <div class="row">
                <!---external login section-->
                <!--<fieldset>
                    <legend>Register with a Social Provider Here</legend>
                    <ul>
                        <li ng-repeat="externalLogin in account.externalLogins">
                            <a target="_self" href="{{externalLogin.url}}">{{externalLogin.name}}</a>
                        </li>
                    </ul>

                </fieldset>-->
                <!---extranal login section ends----->
                <!-- left column -->

                <div class="col-md-4 col-sm-6">
                    <div class="text-center">

                        <img ng-show="!vm.picUploaded" src="http://stanleywisconsin.us/templates/Itta%20Bena/images/default_avatar.jpg"
                             class="avatar img-circle img-thumbnail" alt="avatar">
                        <img ng-show="vm.picUploaded" ng-src="{{vm.registerUser.picUrl}}" class="avatar img-circle img-thumbnail" alt="userPic" />
                        <h6>Upload a different photo...</h6>

                        <!------Filepicker code-->
                        <a class="btn btn-primary" ng-click="vm.pickFile()">Upload</a>


                        <!-- download from https://raw.githubusercontent.com/filepicker/filepicker-angular/develop/dist/angular_filepicker.min.js -->
                        <!----filepickercode-->

                    </div>
                </div>
                <!---edit form-->
                <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                    <!--<div class="alert alert-info alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                        <i class="fa fa-coffee"></i>
                        This is an <strong>.alert</strong>. Use this to show important messages to the user.
                    </div>-->
                    <!--personal info-->
                    <h3>Personal info</h3>
                    <div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">First name:</label>
                            <div class="col-lg-8">
                                <input ng-model="vm.registerUser.firstName" class="form-control" value="" type="text" placeholder="FirstName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Last name:</label>
                            <div class="col-lg-8">
                                <input ng-model="vm.registerUser.lastName" class="form-control" value="" type="text" placeholder="LastName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Company:</label>
                            <div class="col-lg-8">
                                <input ng-model="vm.registerUser.company" class="form-control" value="" type="text" placeholder="Your company name here">
                            </div>
                        </div>
                        <!----->
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Phone Number:</label>
                            <div class="col-lg-8">
                                <input ng-model="vm.registerUser.phoneNumber" class="form-control" value="" type="text" placeholder="Your phone number here">
                            </div>
                        </div>

                        <!----->
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Email:</label>
                            <div class="col-lg-8">
                                <input class="form-control" ng-model="vm.registerUser.email" value="" type="text" placeholder="your email address here">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Time Zone:</label>
                            <div class="col-lg-8">
                                <div class="ui-select">
                                    <select ng-model="vm.registerUser.timeZone" id="user_time_zone" class="form-control">
                                        <option value="Hawaii">(GMT-10:00) Hawaii</option>
                                        <option value="Alaska">(GMT-09:00) Alaska</option>
                                        <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                                        <option value="Arizona">(GMT-07:00) Arizona</option>
                                        <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                                        <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                                        <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                                        <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Username:</label>
                            <div class="col-md-8">
                                <input ng-model="vm.registerUser.userName" class="form-control" value="" type="text" placeholder="What is your username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Password:</label>
                            <div class="col-md-8">
                                <input class="form-control" ng-model="vm.registerUser.password" value="" type="password" placeholder="password here">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Confirm password:</label>
                            <div class="col-md-8">
                                <input class="form-control" ng-model="vm.registerUser.confirmPassword" value="" type="password" placeholder="type password again">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-7">
                                    <div class="form-group">
                                        <label class="control-label"></label>
                                        <div>
                                            <input class="btn btn-primary" type="submit" value="Save and Register">
                                            <span></span>
                                            <input class="btn btn-default" value="Reset" type="reset">
                                            <a class="btn btn-danger" ng-click="vm.closeModal()">Cancel</a>

                                        </div>
                                    </div>
                                    <div>
                                        <ul>
                                            <li ng-repeat="message in vm.validationMessages">
                                                {{message}}
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</form>



<!--</div>-->
<!--------->
<!--<ul>
              <li ng-repeat="message in controller.validationMessages">
                  {{message}}
              </li>
          </ul>-->
<!--<form ng-submit="controller.register()">-->
<!--<div>
    <label>Email:</label>
    <input ng-model="controller.registerUser.email" />
</div>-->
<!--<div>
    <label>Password:</label>
    <input ng-model="controller.registerUser.password" />
</div>-->
<!--<div>
    <label>Confirm Password:</label>
    <input ng-model="controller.registerUser.confirmPassword" />
</div>-->
<!--<input type="submit" value="Register" />
</form>-->
<!--</fieldset>-->
