<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Add Task Filters
                </a>
            </li>
            <li>
                <a class="my-nice-button" href="#"><i class="fa fa-exclamation"></i>&nbsp;<font color="red">Past Due Tasks</font></a>
            </li>
            <li>
                <a class="my-nice-checkbutton" href="#"><i class="fa fa-check"></i>&nbsp;<font>Due Today</font></a>
            </li>
            <li>
                <a class="my-nice-statusbutton1" href="#"><i class="fa fa-battery-0"></i>&nbsp;<font>Not Started</font></a>
            </li>
            <li>
                <a class="my-nice-statusbutton2" href="#"><i class="fa fa-battery-half"></i>&nbsp;<font>In Progress</font></a>
            </li>
            <li>
                <a class="my-nice-statusbutton3" href="#"><i class="fa fa-battery-full"></i>&nbsp;<font>Completed</font></a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Tasks / To-Do's</h1>
                    
                    <form action="" class="search-form" style="width: 100%;">
                        <btn id="menu-toggle" class="btn btn-default">Add Filter</btn>
                        <div class="form-group has-feedback">
                            <label for="search" class="sr-only">Search...</label>
                            <input type="text" class="form-control" name="search" ng-model="vm.search" id="search" placeholder="Search by Type...">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                    
                    <br />
                    <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="wrap_table">
                                    <form>
                                        <table class="mine table table-hover">
                                            <tr>
                                                <th>Start Date</th>
                                                <th>Status</th>
                                                <th>Description</th>
                                                <th>Type</th>
                                                <th>Due Date</th>
                                                <th>Edit/Delete</th>
                                            </tr>
                                            <tr ng-repeat="task in vm.tasks |filter: {type: vm.search}">
                                                <td>{{task.startDate}}</td>
                                                <td>{{task.status}}</td>
                                                <td>{{task.description}}</td>
                                                <td>{{task.type}}</td>
                                                <td>{{task.dueDate}}</td>
                                                <td align="center">
                                                    <a href="/task-details/{{task.id}}"><span style="color: blue" class="glyphicon glyphicon-list"></span></a>&nbsp;
                                                    <a href="/deletetask/{{task.id}}"><span style="color: red" class="glyphicon glyphicon-remove"></span></a>
                                                </td>
                                            </tr>
                                        </table>
                                        <br />
                                        <div align="center"><a ui-sref="addtask" class="btn btn-default">Add Task</a></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
                <div class="container-fluid">
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


<!-- /#wrapper -->



<!-- Menu Toggle Script -->
<script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
</script>