<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Add Task Filters
                </a>
            </li>
            <li>
                <a class="my-nice-button" href="#"><i class="fa fa-exclamation" style="color:red;"></i>&nbsp;<font color="red"><u>Past Due Tasks</u></font></a>
            </li>
            <li>
                <a class="my-nice-checkbutton" href="#"><i class="fa fa-check"></i>&nbsp;<font>Due Today</font></a>
            </li>
            <li>
                <a class="my-nice-statusbutton1" href="#"><i class="fa fa-battery-0"></i>&nbsp;<font>Not Started</font></a>
            </li>
            <li>
                <a class="my-nice-statusbutton2" href="#"><i class="fa fa-battery-half"></i>&nbsp;<font>In Progress</font></a>
            </li>
            <li>
                <a class="my-nice-statusbutton3" href="#"><i class="fa fa-battery-full"></i>&nbsp;<font>Completed</font></a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper" class="task-content-wrap">
        <div class="container-fluid">
            <div class="row fix_row">
                <div id="bannertaskstop">
                    <center><h1>Tasks</h1></center>
                    <form action="" class="search-form" style="width: 100%;">
                        <btn id="menu-toggle" class="btn btn-default filter_button" style="margin-left:30px;">Add Filter</btn>
                        <div class="form-group has-feedback" style="margin-right:150px;">
                            <label for="search" class="sr-only">Search...</label>
                            <input type="text" class="form-control" name="search" ng-model="vm.search" id="search" placeholder="Search by Type...">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row fix_row">
                <div class="col-md-12 fix_row wrap_table_wrap">
                    <br />
                    <br />
                    <div class="row fix_row">
                        <div class="col-md-12 fix_row">
                            <div class="wrap_table">
                                <form>
                                    <table class="mine table table-hover">
                                        <tr>
                                            <th>Start Date</th>
                                            <th>Status</th>
                                            <th>Description</th>
                                            <th>Primary Contact</th>
                                            <th>Type</th>
                                            <th>Due Date</th>
                                            <th>Details/Delete</th>
                                        </tr>
                                        <tr ng-repeat="task in vm.tasks | filter: {type: vm.search} | orderBy:'dueDate'" {{task.dueDate}}>
                                            <td>{{task.startDate}}</td>
                                            <td>{{task.status}}</td>
                                            <td>{{task.description}}</td>
                                            <td>{{task.contact.name}}</td>
                                            <td>{{task.type}}</td>
                                            <td>{{task.dueDate}}</td>
                                            <td align="center">
                                                <a href="/task-details/{{task.id}}"><span style="color: grey" class="glyphicon glyphicon-list"></span></a>&nbsp;
                                                <a href="/deletetask/{{task.id}}"><span style="color: red" class="glyphicon glyphicon-remove"></span></a>
                                            </td>
                                        </tr>
                                    </table>
                                    <br />
                                    <div align="center"><a ui-sref="addtask" class="btn btn-default"><i class="fa fa-plus-square" style="color:green;"></i> Add Task</a></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- COLUMNS -->
        <div class="container-fluid">
            <div class="row task-progress-wrap">
                <!-- NOT STARTED COLUMN START -->
                <div class="col-md-4 not-started-wrap">
                    <h3>
                        Not Started <i class="fa fa-exclamation" style="color:red;"></i> <font style="color:dimgrey" size="2"> (click for details)</font>
                    </h3>
                    <table class="table tasktable">
                        <tr ng-repeat="task in vm.tasks | filter: {status: 'Not Started'} | orderBy:'dueDate'" {{task.dueDate}}>

                            <td>
                                <div class="panel-group" id="accordian">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordian" href="#panel-element-{{task.id}}">{{task.type}} due on {{task.dueDate}}</a>
                                        </div>
                                        <div id="panel-element-{{task.id}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                {{task.description}}&nbsp;&nbsp;<a href="/task-details/{{task.id}}"><span style="color: blue" class="glyphicon glyphicon-list"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Column 1 END -->
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- NOT STARTED COLUMN END -->
                <!-- IN PROGRESS COLUMN START -->
                <div class="col-md-4 in-progress-wrap">
                    <h3>
                        In Progress <i class="fa fa-clock-o"></i> <font style="color:dimgrey" size="2"> (click for details)</font>
                    </h3>
                    <table class="table tasktable">
                        <tr ng-repeat="task in vm.tasks | filter: {status: 'In Progress'} | orderBy:'dueDate'" {{task.dueDate}}>

                            <td>
                                <div class="panel-group" id="accordian">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordian" href="#panel-element-{{task.id}}">{{task.type}} due on {{task.dueDate}} </a>
                                        </div>
                                        <div id="panel-element-{{task.id}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                {{task.description}}&nbsp;&nbsp;<a href="/task-details/{{task.id}}"><span style="color: blue" class="glyphicon glyphicon-list"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- IN PROGRESS COLUMN END -->
                <!-- COMPLETED COLUMN START -->
                <div class="col-md-4 completed-wrap">
                    <h3>
                        Completed <i class="fa fa-check-circle" style="color:green;"></i> <font style="color:dimgrey" size="2"> (click for details)</font>
                    </h3>
                    <table class="table tasktable">
                        <tr ng-repeat="task in vm.tasks | filter: {status: 'Completed'} | orderBy:'dueDate'" {{task.dueDate}}>

                            <td>
                                <div class="panel-group" id="accordian">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordian" href="#panel-element-{{task.id}}">{{task.type}} due on {{task.dueDate}}</a><a style="float: right;" href="/deletetask/{{task.id}}"><span style="color: red" class="glyphicon glyphicon-remove"></span></a>
                                        </div>
                                        <div id="panel-element-{{task.id}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                {{task.description}}&nbsp;&nbsp;<a href="/task-details/{{task.id}}"><span style="color: blue" class="glyphicon glyphicon-list"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Column 1 END -->
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- COMPLETED COLUMN END -->
            </div>
        </div>
        <!-- END COLUMNS -->
    </div>
</div>


<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $('.datepicker').datepicker();
</script>