    <h1>Tasks Page</h1>


<!--<div class="main-wrap">
        <input id="slide-sidebar" type="checkbox" role="button" />
        <label for="slide-sidebar"><span><img src="http://i.imgur.com/RY5aKHU.png" height="50" width="25"/></span></label>
        <div class="sidebar">
            <h1>Filters</h1>
            <br />

            <a href="/filters"><img src="http://www.clipart-fr.com/data/icones/series_01/icones_00384.png" height="20" width="20" /> Filters </a> 

            
        </div>
        <div class="portfolio"><h1>My Portfolio</h1></div>
    </div>-->
