body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*Nav bar brand padding*/
.navbar, .navbar-fixed-top {
    padding-right: 10px;
    background-color: #383838;
}

.navbar-brand {
    padding: 8px;
}


/*Navbar hover effect color change*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #1e1e1e;
    color: #ffffff;
}

/*Navbar dropdown color*/
.navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #383838;
    color: #ffffff;
}

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #1e1e1e;
    }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar .divider-vertical {
    height: 40px;
    top: 5px;
    margin: 0;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #808080;
    border-left-color: #383838;
}


/*-------------------------------Deals Section-------------------------------*/
/*Input class to make input 100% wide*/
.full {
    max-width: 100%;
}

.details_wrap label{
    color: white;
    margin-top: 10px;
}

.default_span:before {
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0";
}

.default_span {
    line-height: 1;
}

.glyphicon-menu-down, .glyphicon-menu-up {
    width: 18px;
    font-size: 10px;
}

.table_wrap th.hover_blue:hover{
    cursor: pointer;
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
    color: white;
}

.modal-deal{
    width: 500px;
}

.modal-deal label{
    margin-top: 5px;
}

.modal-deal button, .modal-deal a{
    margin-top: 10px;
}

table.deals_table{
    font-size: 12px;
}

table.deals_table th:hover{
    
}

.glyphicon-th, .glyphicon-list-alt{
    font-size: 30px;
    margin: 0 5px;
}

.glyphicon-th{
    position: relative;
    top: 0;
}

.no-margin{
    margin: 0 !important;
}

.filter_button{
    position: relative;
    bottom: 10px;
}

.min_amount{
    padding-right: 2px;
}

.max_amount {
    padding-left: 2px;
}

input.amount_input{
    width: 100%;
}

.archived{
    background-color: #464444;
    color: white;
}

.archived:hover{
    color: black;
}

.archived span.glyphicon-plus{
    font-size: 16px;
    margin-left: 8px;
}

.details_head{
    margin-bottom: 40px;
}

.text_wrap{
    width: 80%;
    margin: auto;
}

.activity_button_wrap{
    width: 80%;
    margin: auto;
    display: block;
}

textarea.deal_notes{
    max-width: 100%;
    width: 100%;
}
/*-------------------Contacts Section--------------------------*/

.error {
    color: rgba(191, 51, 13, 0.80);
}

.ng-invalid.ng-touched {
    background-color: orange;
}

.tableDetailRow{
    font-weight: 600;
}

.contactPanel {
    width: 25%;
    height: 25%;
    margin-top: 20px;
    background-color: lightgray;
    border-radius: 3px;
}

.contactPanel button {
    margin-bottom: 20px;
}

#interactionForm {
    margin-top: 65px;
}

#interactionTable {
    margin-top: 30px;
}

#interactionBtn {
    margin-top: 20px;
}

.thumbnail { height: 280px !important; }
      .btn-droppable { width: 180px; height: 30px; padding-left: 4px; }
      .btn-draggable { width: 160px; }