<div class="deal_modal">
    <div class="modal-header">
        <h1>Add New Deal</h1>
    </div>
    <div class="modal-body">
        <form class="form-group" ng-submit="vm.addDeal(vm.dealToAdd)">
            <label>Deal Name</label>
            <input type="text" class="form-control full" ng-model="vm.dealToAdd.dealName" />
            <label>Deal Stage</label>
            <select class="form-control full" ng-model="vm.dealToAdd.stage">
                <option>Appointment Scheduled</option>
                <option>Qualified to Buy</option>
                <option>Presentation Scheduled</option>
                <option>Decision Maker Bought In</option>
                <option>Contract Sent</option>
                <option>Closed Won</option>
                <option>Closed Lost</option>
            </select>
            <label>Amount</label>
            <input type="number" class="form-control full" ng-model="vm.dealToAdd.amount" />
            <label>Close Date</label>
            <input type="date" class="form-control full" ng-model="vm.dealToAdd.closeDate" />
            <label>Deal Owner</label>
            <select ng-model="vm.dealToAdd.contactId" class="form-control full">
                <option ng-repeat="contact in vm.myContacts.contacts" value="{{contact.id}}">{{contact.name}}</option>
            </select>
            <label>Company</label>
            <select ng-model="vm.dealToAdd.companyId" class="form-control full">
                <option ng-repeat="company in vm.myCompanies" value="{{company.id}}">{{company.companyName}}</option>
            </select>
            <button class="form-control full btn btn-primary">Add Deal</button>
            <a href="#" ng-click="vm.closeModal()"class="form-control full btn btn-danger">Cancel</a>
        </form>
    </div>
</div>
