
<div class="container center-block col-md-pull-12">
    <h1>Company Details</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Company Name</label>
                <input type="text" class="form-control" ng-model="vm.company.companyName" />
            </div>

            <div class="form-group">
                <label>Company Domain Name</label>
                <input type="text" class="form-control" ng-model="vm.company.companyDomainName" />
            </div>
            <div class="form-group">
                <label>Company Phone Number</label>
                <input type="text" class="form-control" ng-model="vm.company.companyPhoneNumber" />
            </div>
            <div class="form-group">
                <label>Company Country</label>
                <input type="text" class="form-control" ng-model="vm.company.companyCountry" />
            </div>
            <div class="form-group">
                <label>Company City</label>
                <input type="text" class="form-control" ng-model="vm.company.companyCity" />
            </div>

            <div class="form-group">
                <label> Company State</label>
                <input type="text" class="form-control" ng-model="vm.company.companyState" />
            </div>
            <div class="form-group">
                <label>Company Zip</label>
                <input type="text" class="form-control" ng-model="vm.company.companyZip" />
            </div>

            <div class="form-group">
                <label>Comapany Address</label>
                <input type="text" class="form-control" ng-model="vm.company.comapanyAddress" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Company Description</label>
                <textarea type="text" class="form-control" ng-model="vm.company.companyDescription"></textarea>
            </div>

            <div class="form-group">
                <label>Company Industry</label>
                <input type="text" class="form-control" ng-model="vm.company.companyIndustry" />
            </div>
            <div class="form-group">
                <label>Company Is Public</label>
                <input type="text" class="form-control" ng-model="vm.company.companyIsPublic" />
            </div>
            <div class="form-group">
                <label>Company Facebook</label>
                <input type="text" class="form-control" ng-model="vm.company.companyFacebook" />
            </div>

            <div class="form-group">
                <label>Company Linkedin</label>
                <input type="text" class="form-control" ng-model="vm.company.companyLinkedin" />
            </div>


            <div class="form-group">
                <label>Company Twitter</label>
                <input type="text" class="form-control" ng-model="vm.company.companyTwitter" />
            </div>
            <div class="form-group">
                <label>Company Attachments</label>
                <input type="text" class="form-control" ng-model="vm.company.companyAttachments" />
            </div>



        </div>
    </div>
</div>