<!-- Don't ever track with Git! -->
<appSettings>
  <add key="twitterConsumerKey" value="8ryjMASd3MpdIcsBTXUeCVr4A" />
  <add key="twitterConsumerSecret" value= "zg7grrx5nYZF5cPHoU42f2lu6S68bKRyIsjtvNc3ErAXsSwmkO" />
  <add key="facebookAppId" value="1507562842883271" />
  <add key="facebookAppSecret" value= "975533f249af30fc5a956211d93f6802" />
  <add key="googleClientId" value="727912271125-a0icjohqht0fh5m2c3buvp89hlkcurc9.apps.googleusercontent.com" />
  
  <add key="googleClientSecret" value= "WlNLsdjV9ApQSi38ChXQvmy9" />
  <add key="sendGridUserName" value="" />
  <add key="sendGridPassword" value="" />
</appSettings>
