<!-- Don't ever track with Git! -->
<appSettings>
  <add key="twitterConsumerKey" value="8ryjMASd3MpdIcsBTXUeCVr4A" />
  <add key="twitterConsumerSecret" value= "zg7grrx5nYZF5cPHoU42f2lu6S68bKRyIsjtvNc3ErAXsSwmkO" />
  <add key="sendGridUserName" value="" />
  <add key="sendGridPassword" value="" />
</appSettings>
