<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/dark-hive/jquery-ui.css">
<div id="wrapper" class="details_wrap toggled">
    <div id="sidebar-wrapper" ng-class="{displayedFilterHide: vm.filterIsDisplayed}">
        <label>Show Archived Deals</label>
        <input type="checkbox" ng-model="vm.showArchived" ng-change="vm.filterBySelection()" /><br />
        <label>Filter By Date</label>
        <select class="form-control date-filter" ng-model="vm.dateFilter" ng-change="vm.filterBySelection()">
            <option value="all">All Deals</option>
            <option value="today">Deals For Today</option>
            <option value="week">Deals For Week</option>
            <option value="month">Deals For Month</option>
        </select>
        <label>Filter By Stage</label>
        <select class="form-control stage-filter" ng-model="vm.stageFilter" ng-change="vm.filterBySelection()">
            <option value="0">All</option>
            <option value="1">Appointment Scheduled</option>
            <option value="2">Qualified to Buy</option>
            <option value="3">Presentation Scheduled</option>
            <option value="4">Decision Maker Bought In</option>
            <option value="5">Contract Sent</option>
            <option value="6">Closed Won</option>
            <option value="7">Closed Lost</option>
        </select>
        <label>Filter By Amount</label>
        <div class="row">
            <div class="col-md-6 form-group min_amount">
                <input class="form-control amount_input" type="text" placeholder="Min Amount" ng-model="vm.minAmount" ng-change="vm.filterBySelection()" />
            </div>
            <div class="col-md-6 form-group max_amount">
                <input class="form-control amount_input" type="text" placeholder="Max Amount" ng-model="vm.maxAmount" ng-change="vm.filterBySelection()" />
            </div>
        </div>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row toggle-responsive-filter">
                        <a ng-show="vm.filterIsDisplayed" href="#" class="btn btn-danger" ng-click="vm.hideFilterResponsive()">Show Filter</a>
                        <a ng-show="!vm.filterIsDisplayed" href="#" class="btn btn-danger" ng-click="vm.showFilterResponsive()">Hide Filter</a>
                    </div>
                    <div class="row view_search">
                        <div class="col-md-4 list-view-button-wrap">
                            <btn id="menu-toggle" class="btn btn-primary filter_button">Filter</btn>
                            <div class="btn-group" role="group" aria-label="...">
                                <div class="btn-group inner-wrap">
                                    <a ui-sref="deals.list-view" class="btn btn-default active">List</a>
                                    <a ui-sref="deals.table-view" class="btn btn-default">Table</a>
                                    <a ui-sref="deals.chart-view" class="btn btn-default">Chart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 form-group no-margin search-bar">
                            <input class="form-control full" placeholder="Search all deals in this view..." ng-model="vm.searchPhrase" />
                        </div>
                        <div class="col-md-2 add-deal-button-wrap">
                            <button class="btn btn-primary" ng-click="vm.addDealModal()">+ Add Deal</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 my_pages">
                                <label>Pages:</label>
                                <nav>
                                    <ul class="pagination my_pag">
                                        <li ng-class="vm.assignDisabledPrev()" ng-click="vm.prevPage()">
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li ng-class="vm.assignClass(pages)" ng-repeat="pages in vm.pagesArray"><a ng-click="vm.paginate(pages)" href="#">{{pages}}</a></li>
                                        <li ng-class="vm.assignDisabledNext()" ng-click="vm.nextPage()">
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-6 my_items">
                                <label>Items Per Page:</label>
                                <nav>
                                    <ul class="pagination my_pag">
                                        <li ng-class="vm.assignClassItem(5)"><a ng-click="vm.selectItems(5)" href="#">5</a></li>
                                        <li ng-class="vm.assignClassItem(10)"><a ng-click="vm.selectItems(10)" href="#">10</a></li>
                                        <li ng-class="vm.assignClassItem(20)"><a ng-click="vm.selectItems(20)" href="#">20</a></li>
                                        <li ng-class="vm.assignClassItem(50)"><a ng-click="vm.selectItems(50)" href="#">50</a></li>
                                        <li ng-class="vm.assignClassItem(1000000)"><a ng-click="vm.selectItems('all')" href="#">All</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="table_wrap">
                            <table class="table table-hover table-bordered deals_table">
                                <tr>
                                    <td id="icon_here" class="trash_cell" ng-show="vm.showTrash">
                                        <a href="#" ng-click="vm.deleteDealModal()"><span class="glyphicon glyphicon-trash trash_icon" aria-hidden="true" title="Delete Selected Deals"></span></a>
                                        <a href="#" ng-click="vm.archiveDealModal()"><span class="glyphicon glyphicon-folder-close folder_icon" aria-hidden="true" title="Archive Selected Deals"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hover_blue check_box"></th>
                                    <th class="hover_blue deal_name" ng-click="vm.sortBy('dealName')">Deal Name <span ng-class="vm.menuDirectionName"></span></th>
                                    <th class="hover_blue deal_stage" ng-click="vm.sortBy('stage')">Deal Stage <span ng-class="vm.menuDirectionStage"></span></th>
                                    <th class="hover_blue close_date" ng-click="vm.sortBy('closeDate')">Close Date <span ng-class="vm.menuDirectionDate"></span></th>
                                    <th class="hover_blue amount" ng-click="vm.sortBy('amount')">Amount <span ng-class="vm.menuDirectionAmount"></span></th>
                                    <th class="hover_blue deal_owner" ng-click="vm.sortBy('dealOwner')">Deal Owner<span ng-class="vm.menuDirectionOwner"></span></th>
                                    <th class="hover_blue company" ng-click="vm.sortBy('company')">Company<span ng-class="vm.menuDirectionCompany"></span></th>
                                </tr>
                                <tr ng-class="{archived: value.isArchived}" ng-repeat="(key, value) in vm.allDeals | filter: vm.searchPhrase" ng-if="!value.isArchived || vm.showArchived">
                                    <td><input type="checkbox" ng-model="value.key" ng-click="vm.storeDeal(value)" /> <a ng-show="value.isArchived" href="#" ng-click="vm.unarchiveItem(value)"><span class="glyphicon glyphicon-plus"></span></a></td>
                                    <td><a ui-sref="deal-info({id: value.id})">{{value.dealName}}</a>&nbsp;&nbsp;&nbsp;&nbsp;<span ng-show="value.key"><a href="#" ng-click="vm.editDealModal(value)" title="Edit This Deal"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></span></td>
                                    <td>{{value.stage}}</td>
                                    <td>{{value.closeDate | date: 'MM/dd/yy'}}</td>
                                    <td>{{value.amount | currency}}</td>
                                    <td><a href="contactDetails/{{value.contact.id}}">{{value.contact.name}}</a></td>
                                    <td><a href="companies/{{value.company.id}}">{{value.company.companyName}}</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $(function () {
        $("#icon_here").tooltip();
    });
</script>
