<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <title>CoderCampsCRM</title>
    <base href="/" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    
</head>
<body ng-controller="AccountController as account">
    <div class="container-fluid">

        @* OLD CODE FROM CODER CAMPS TEMPLATE - NAVBAR ADDED - WILL NEED TO USE NG-SHOW AND NG-CLICK INFORMATION *@
        @*<h1>My App</h1>
            <div>
                <a href="/">Home</a> /
                <a href="/about">About</a> /
                <a href="/login" ng-show="!account.isLoggedIn()">login</a>
                <a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">logout</a>
            </div>*@
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img alt="Brand" src="http://i.imgur.com/fcCl5Yp.png" width="160" height="35">

                    </a>
                </div>


                <!-- Nav Bar LINKS -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="divider-vertical"></li>
                        <li><a href="#">Dashboard <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Companies</a></li>
                        <li><a href="#">Deals</a></li>
                        <li><a href="/tasks">Tasks</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="http://i.imgur.com/m27sgB3.png" height="20" width="20" alt="Alternate Text" /><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Users</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Report a Problem</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Settings</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/login" ng-show="!account.isLoggedIn()">Log In</a></li>
                                <li><a href="/" ng-click="account.logout()" ng-show="account.isLoggedIn()">Log Out</a></li>
                            </ul>
                        </li>
                        <li class="divider-vertical"></li>
                        <li><p class="navbar-text">Signed in as Administrator </p></li> @*Admin text to be changed with angular code for username "name"*@
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav> @*NAVBAR END*@




        <ng-view></ng-view>



    </div>


    <!--Jquery and Bootstrap-->
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!--Angular-->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <!--App and Services-->
    <script src="~/ngApp/app.js"></script>
    <script src="~/ngApp/services/services.js"></script>
    <script src="~/ngApp/services/accountService.js"></script>

    <!--Controllers-->
    <script src="~/ngApp/controllers/controllers.js"></script>
    <script src="~/ngApp/controllers/accountController.js"></script>

</body>
</html>