<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoderCampsCRM</title>
    <base href="/" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/DragAndDrop.css" rel="stylesheet" />
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.js" rel="stylesheet" />
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/queries.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css">*@

</head>
<body ng-controller="AccountController as account" ng-cloak>
    @* OLD CODE FROM CODER CAMPS TEMPLATE - NAVBAR ADDED - WILL NEED TO USE NG-SHOW AND NG-CLICK INFORMATION *@
    @*<h1>My App</h1>
    <div>
        <a href="/">Home</a> /
        <a href="/about">About</a> /
        <a href="/login" ng-show="!account.isLoggedIn()">login</a>
        <a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">logout</a>
    </div>*@
    <div class="nav_wrap">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img alt="Brand" src="http://i.imgur.com/fcCl5Yp.png" width="160" height="35">

                    </a>
                </div>


                <!-- Nav Bar LINKS -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="divider-vertical"></li>
                        <li><a ui-sref="home">Home<span class="sr-only">(current)</span></a></li>
                        <li ng-show="account.isLoggedIn()"><a ng-show="account.isLoggedIn()" ui-sref="dashboard">Dashboard</a></li>
                        <li ng-show="account.isLoggedIn()"><a ng-show="account.isLoggedIn()" ui-sref="contacts">Contacts</a></li>
                        <li ng-show="account.isLoggedIn()"><a ng-show="account.isLoggedIn()" ui-sref="companies">Companies</a></li>
                        <li ng-show="account.isLoggedIn()"><a ng-show="account.isLoggedIn()" ui-sref="deals.list-view">Deals</a></li>
                        <li ng-show="account.isLoggedIn()"><a ng-show="account.isLoggedIn()" ui-sref="tasks">Tasks</a></li>
                        <li ng-show="account.getClaim('Admin')"><a ng-show="account.getClaim('Admin')" ui-sref="admin">Admin Page</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="http://i.imgur.com/m27sgB3.png" height="20" width="20" alt="Alternate Text" /><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a ui-sref="profile">My Account</a></li>
                                <li><a href="#">Users</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Report a Problem</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Settings</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" ng-click="account.showModal()" ng-show="!account.isLoggedIn()">Log In</a></li>
                                <li><a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Log Out</a></li>
                            </ul>
                        </li>
                        <li class="divider-vertical"></li>
                        <li ng-show="account.isLoggedIn()"><p class="navbar-text">Signed in as {{account.currentUserName}}</p></li> @*Admin text to be changed with angular code for username "name"*@
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav> @*NAVBAR END*@
    </div>



    <div ui-view></div>



    <!--Jquery and Bootstrap Files-->
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="../../../Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>

    <!--Angular-->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
    <script src="~/Scripts/angular_filepicker.min.js"></script>
    <script src="~/ngApp/scripts/ngDraggable.js"></script>
    <script src="~/Scripts/lodash.js"></script>
    <script src="~/Scripts/angular-simple-logger-master/dist/angular-simple-logger.min.js"></script>
    <script src="~/Scripts/angular-google-maps.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    @*<script src="~/Scripts/sweetalert-dev.js"></script>*@

    <!--Angular Charts-->
    <script src="http://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="~/ngApp/scripts/highcharts-ng.js"></script>

    <!--App and Services-->
    <script src="~/ngApp/app.js"></script>
    <script src="~/ngApp/services/services.js"></script>
    <script src="~/ngApp/services/accountService.js"></script>
    <script src="~/ngApp/services/adminService.js"></script>
    <script src="~/ngApp/services/dealService.js"></script>
    <script src="~/ngApp/services/dealLogItemService.js"></script>
    <script src="~/ngApp/services/contactService.js"></script>
    <script src="~/ngApp/services/companyService.js"></script>
    <script src="~/ngApp/services/companyLogItemService.js"></script>
   
    <script src="~/ngApp/services/taskService.js"></script>
    <script src="~/ngApp/services/dealContactService.js"></script>
    <script src="~/ngApp/services/dashboardService.js"></script>
    <script src="~/ngApp/services/profileService.js"></script>

    <!--Controllers-->
    <script src="~/ngApp/controllers/controllers.js"></script>
    <script src="~/ngApp/controllers/accountController.js"></script>
    <script src="~/ngApp/controllers/adminController.js"></script>
    <script src="~/ngApp/controllers/dealController.js"></script>
    <script src="~/ngApp/controllers/dealInfoController.js"></script>
    <script src="~/ngApp/controllers/contactListController.js"></script>
    <script src="~/ngApp/controllers/contactDetailsController.js"></script>
    <script src="~/ngApp/controllers/contactAddController.js"></script>
    <script src="~/ngApp/controllers/companyContoller.js"></script>
    <script src="~/ngApp/controllers/companyInfoController.js"></script>
    <script src="~/ngApp/controllers/taskController.js"></script>
    
    <script src="~/ngApp/controllers/dashboardController.js"></script>
    <script src="~/ngApp/controllers/ProfileController.js"></script>
</body>
</html>